#ir-arriba-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #333;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 999999;
}

#ir-arriba-btn.visible {
    opacity: 0.8;
}

#ir-arriba-btn:hover {
    opacity: 1;
}